section {
    background-color: red;
}
.section{
    background-color: aqua;
}
h1{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
#h1{
    color: black;
    font-family: sans-serif;
}
[attribute] h1 {
    background-color: plum;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}